.container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  gap: 20px;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.imgContainer img {
  border-radius: 10px;
}

.likesContainer {
  display: flex;
  gap: 10px;
}

.likesContainer img {
  width: 10px;
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 420px;
    margin: 20px;
  }
  .imgContainer img {
    width: 300px;
  }
  .likesContainer img {
    width: 30px;
  }
  .likesContainer {
    display: flex;
    align-items: center;
  }
}
