.container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  gap: 20px;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.commentsContainer {
}

.imgContainer img {
  border-radius: 10px;
}
