.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 15px;
  position: fixed;
  border-bottom: 2px solid black;
  width: 100%;
  background-color: white;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imgContainer {
  width: 70px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .imgContainer {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
  }
}
