.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.listContainer {
  width: 100%;
}

h2 {
  display: flex;
  padding: 20px;
  align-items: start;
  font-size: 100px;
}

.articleContainer {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  gap: 20px;
  text-decoration: none;
  color: black;
}

.imgContainer {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.imgContainer img {
  width: 150px;
}

.infoContainer h4 {
  font-size: 12px;
}

.infoContainer h3 {
  font-size: 24px;
}

.footerContainer {
  display: flex;
  gap: 50px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.dropDownContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 420px;
    margin-top: 20px;
    margin-top: 50px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }
  .container h2 {
    display: flex;
    padding: 20px;
    align-items: start;
    font-size: 50px;
  }
  .articleContainer {
    height: auto;
  }
  .footerContainer {
    margin: 10px;
  }
  .listContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
